<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Form</h1>
      <br>
      <form #form="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
          ngModel name="email" email required #email="ngModel"
          >
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <p *ngIf="!email.valid">Email not valid!</p>
        </div>
        <div class="form-group">
          <label for="inputState">Subscriptions</label>
          <select id="inputState" class="form-control" [ngModel]="'Advanced'" name="subscription" required #subscription="ngModel">
            <option>Basic</option>
            <option>Advanced</option>
            <option>Pro</option>
          </select>
          <p *ngIf="!subscription.valid">Subscription not valid!</p>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"
            ngModel name="password" required #password="ngModel"
            >
        </div>
        <p *ngIf="!password.valid">Password not Valid!</p>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">Submit</button>
        <p *ngIf="!form.valid && form.touched">The form is invalid!</p>
      </form>
    </div>
    <div class="row" *ngIf="submitted">
      <div class="col-12">
        <h3>Your data</h3>
        <p>Email: {{formData.email}}</p>
        <p>Subscription: {{formData.subscription}}</p>
        <p>Password: {{formData.password}}</p>
      </div>
    </div>
  </div>
</div>
